@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assuming you have a custom color named 'gold' and 'gold-light' in your Tailwind config */
.bg-gold {
  --tw-bg-opacity: 1;
  background-color: rgba(192, 163, 103, var(--tw-bg-opacity)); /* This is a gold color */
}

.bg-gold-light {
  --tw-bg-opacity: 1;
  background-color: rgba(210, 180, 140, var(--tw-bg-opacity)); /* This is a lighter gold color */
}

.border-gold {
  --tw-border-opacity: 1;
  border-color: rgba(192, 163, 103, var(--tw-border-opacity)); /* This is a gold color */
}

/* App.css */

.hero-section {
  position: relative; /* Needed for absolute positioning of children */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  background-image: url('./image/bg.jpg'); /* Make sure this path is correct */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.welcome-text {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
}

.contact-info {
  position: absolute;
  bottom: 20px; /* Adjust this value to move it up or down */
  left: 50%; /* Center align the contact info */
  transform: translateX(-50%); /* Ensure it's perfectly centered regardless of length */
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Enhances readability */
  background: none; /* Removes the background */
  padding: 0; /* Removes padding */
}

.instagram-icon {
  color: white;
  margin-right: 5px;
}

/* Base and Layout Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #000; /* Ensuring the background doesn't cause visibility issues */
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 10px;
  background-color: #000; /* Adjust background color as needed */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
}

.logo {
  height: 40px;
  width: auto;
}

.hamburger-btn {
  background: none;
  border: none;
  display: block; /* Always display */
  cursor: pointer;
  padding: 0;
}

.menu-items {
  display: none; /* Hidden by default */
  width: 100%;
}

.menu-items.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Add space between menu and button */
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  display: block;
}

.contact-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Adjust height taking footer height into account */
  color: #fff; /* Adjust the color as needed */
  text-align: center;
}

.opening-soon {
  font-size: 2rem;
  margin-bottom: 20px; /* Spacing between the opening soon text and contact info */
}



@media (min-width: 768px) {
  .hamburger-btn {
      display: none; /* Hide on larger screens */
  }

  .menu-items {
      display: flex; /* Show as a row on larger screens */
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
  }
}
























